// this file contains style for footer
// changes here will effect on footer all over the website - @jay

// ----------------------------- Footer
footer {
  background-color: #001b2e;
  padding: @space + @space / 2 0px;
}
.footer2 {
  padding: @space - 4 0px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: @zindex-small;
}
.copy-text {
  font-size: 11px;
  color: @light-color;
  margin-top: (@space * 5) + 4;
}

.footer-list {
  li {
    padding-bottom: 4px;
    a {
      color: @light-color !important;
      font-size: @font-size-small - 2;
      i {
        font-size: @font-size;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        padding-left: @space / 2;
      }
    }
  }
}
.footer-heading {
  color: @light-color;
  margin-bottom: @space;
  font-size: @font-size-small;
}

.u-footer-list-margin-top {
  margin-top: (@space * 3) - 6;
}

.footer-list2 {
  li {
    display: inline-block;
    font-size: @font-size-small;
    padding-left: @space + @space / 2;
    a {
      color: @light-color;
    }
  }
}

.copy-text2 {
  color: @light-color;
  font-size: @font-size-small;
}
