// this file contains style for footer
// changes here will effect on footer all over the website - @jay

// ----------------------------- Footer
footer {
  background-color: #001b2d;
}

.copy-text {
  font-size: 12px;
  color: @light-color;
}

.footer-list {
  li {
    a {
      color: @light-color;
      font-size: @font-size-small - 2;
    }
  }
}
