// Contains code of responsive site - @Jay

@media (max-width: 767px) and (min-width: 320px) {
  body {
    font-size: @font-size-small;
  }
  .container,
  .wrapper {
    padding-left: @space;
    padding-right: @space;
  }
  .tab-head-secondary {
    li {
      padding: 5px 0;
      min-width: @space;
    }
  } // tab head secondary
  .btn {
    .button-size(8px; 12px; @font-size-small; 1.3; 3px);
    .min-width(120px);
    //width: 100%;
  }
  .ghost-btn-orange {
    .min-width(80px);
  }
  h1,
  .h1 {
    font-size: @font-size + 8;
  }
  h2,
  .h2 {
    font-size: @font-size + 6;
  }
  h3,
  .h3 {
    font-size: @font-size + 4;
  }
  h4,
  .h4 {
    font-size: @font-size + 2;
  }
  h5,
  .h5 {
    font-size: @font-size;
  }
  h6,
  .h6 {
    font-size: @font-size-small;
  }
  .fixed-wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }
  .justified {
    .input-brick {
      border-right: none;
      display: block;
      margin-bottom: @space;
      input,
      &:last-child input {
        .border-radius(3px);
      }
    } // input-brick
    li {
      display: block;
    }
  } // justified
  .btn-link {
    min-height: auto;
    min-width: auto;
    padding: 0px;
  }
  //header mobile responsive start
  header {
    padding-bottom: 10px;
  }
  .header-vetcoin-tag {
    font-size: @font-size;
  }
  //header mobile responsive end

  //footer mobile responsive start
  .footer-heading {
    margin-top: @space;
    margin-bottom: @space - 4;
  }
  .footer-list2 {
    float: none;
    padding-bottom: @space - 4;
    li {
      padding-left: 0px;
      padding-right: @space + @space / 2;
    }
  }
  .mapouter {
    margin-top: @space + 4;
  }
  //footer mobile responsive end

  //common mobile responsive start
  .main-content-wrapper {
    margin-top: @space * 5;
    margin-bottom: @space * 5;
  }
  .u-mob-large-heading {
    font-size: @font-size * 2;
  }
  .u-mob-col-padd-left-none {
    padding-left: 0px;
  }
  .u-mob-col-padd-right-none {
    padding-right: 0px;
  }
  .u-mob-col-padd-h-none {
    padding-left: 0px;
    padding-right: 0px;
  }
  .u-mob-margin-bottom-32 {
    margin-bottom: @space * 2;
  }
  //common mobile responsive end

  //login mobile responsive start
  .login-container {
    padding-top: @space * 5;
  }
  .login-right-box {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .login-right-section-para {
    font-size: @font-size;
  }
  .login-right-section-heading {
    margin-top: 0px;
  }
  //login mobile responsive end

  //index mobile responsive start
  .home-content-wrapper {
    margin-top: 56px;
  }
  .slick-slide {
    height: 50vh;
  }

  .i-top-fold-carousel-box {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    margin-top: -42px;
  }

  #owl-carousel1 .owl-nav .owl-prev {
    margin-left: -32px;
  }

  #owl-carousel1 .owl-nav .owl-next {
    margin-right: -32px;
  }

  .i-why-need-cols {
    p {
      padding-left: @space * 4;
    }
  }

  .i-step-section-box {
    height: auto;
    margin-bottom: @space;
  }

  .i-testimonial-auth-img {
    position: relative;
  }

  .i-step-section {
    margin-top: @space * 2;
  }
  .i-why-need-cols {
    margin: 20px 0px;
  }
  .i-why-need-cols img {
    .circle(48px);
  }
  .i-testimonial-auth-img {
    width: 160px !important;
    height: 160px !important;
    position: relative;
  }
  .i-testimonial-items {
    text-align: center;
  }
  .i-testimonial-descrip {
    padding-left: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    margin-top: @space;
    p {
      margin-bottom: @space;
    }
  }
  .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
  }
  #owl-carousel2 {
    .owl-nav {
      .owl-prev,
      .owl-next {
        span {
          font-size: 32px;
        }
      }
      .owl-next {
        right: 0px;
      }
      .owl-prev {
        left: 0px;
      }
    }
  }

  .i-step-left-section-box {
    padding: @space + 4 @space;
    &:before {
      margin-left: @space * 2;
    }
  }
  .i-bottom-pitch-fold {
    margin-bottom: @space * 2;
  }
  .i-bottom-pitch-fold-left {
    margin-bottom: @space;
  }
  .u-mob-bottom-right-box {
    text-align: center;
  }
  .vetcoin-img {
    margin-right: 0px;
    float: none;
  }
  .slick-slide {
    height: 320px;
  }
  .slider-img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  //index mobile responsive end

  //my pet mobile responsive start
  .my-pet-col-bottom-btn-wrap {
    .btn,
    .my-pet-col-dropdown {
      margin-left: @space / 4;
    }
  }
  .my-pet-cols {
    margin-right: 0px;
  }
  .my-pet-col-dropdown {
    .dropdown-menu {
      right: 0px !important;
      left: auto;
      &:after {
        left: auto;
        right: 16px;
      }
    }
  }
  //my pet mobile responsive end

  //empty screen responsive start
  .empty-screen-img {
    max-width: 250px;
  }
  //empty screen responsive end

  //pet profile mobile responsive start
  .profile-bottom-btn-wrap {
    float: none;
    display: block;
    .btn-primary {
      float: right;
    }
  }
  //pet profile mobile responsive end

  //user profile mobile responsive start
  .u-mob-change-pass-margin {
    margin-bottom: @space / 2;
  }
  //user profile mobile responsive end

  //my vetcoins statement mobile responsive start
  .u-mob-my-vetcoin-cont-wrap {
    width: 100%;
    overflow-x: auto;
    // padding: @space;
  }
  //my vetcoins statement mobile responsive end

  //my proposal mobile responsive start
  #u-mob-bottom-pay-button {
    display: block;
  }
  .my-proposal-top-para {
    font-size: @font-size;
  }

  .my-proposal-content-wrapper {
    margin-top: @space * 2;
  }

  .my-pet-cols {
    padding-left: @space - 4;
    padding-right: @space - 4;
    padding-bottom: @space - 4;
  }

  .my-pet-col-ribbon-list {
    margin-bottom: 0px;
    .radio-button-label {
      margin-bottom: @space;
    }
  }

  .my-pet-col-plan-fee {
    margin-bottom: @space;
  }
  .my-proposal-payment-section {
    transition: 0.2s height ease-in-out;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    top: auto;
    margin-bottom: 76px;
    height: 40px;
    .u-mob-pay-button {
      margin-top: 0px;
    }
  }
  .my-proposal-plan-summary-col {
    padding: 0px;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: 0.1s height ease-in-out;
  }
  .my-proposal-plan-content {
    padding: @space * 2 @space @space * 4;
    border-top: 1px solid #f8f8f8;
    height: 90%;
    overflow-y: auto;
  }
  .open-payment-slider {
    height: 100%;
    .my-proposal-plan-summary-col {
      transition: 0.1s height ease-in-out;
      visibility: visible;
      opacity: 1;
      height: 100%;
      padding-top: 137px;
      overflow: hidden;
    }
  }
  .close-payment-slider-btn {
    display: block;
    img {
      max-height: 12px;
    }
    img,
    span {
      vertical-align: middle;
    }
  }
  .u-mob-pay-button {
    position: absolute;
    bottom: 0px;
    .border-radius(0px);
  }
  .u-proposal-amt-col-wrap {
    padding-right: 0px;
  }
  .input-cancel-btn {
    width: 20px !important;
    border-radius: 50px !important;
    line-height: 6px !important;
  }
  //my proposal mobile responsive end

  //get quote mobile responsive start
  .get-quote-top-col-wrapper {
    display: none;
  }
  .get-quote-fea-cols {
    margin-right: 0px;
    margin-bottom: @space - 4;
  }
  .get-quote-features-bottom-note {
    padding-left: @space * 2;
    padding-right: @space * 2;
    text-align: center;
  }
  .get-quote-top-section {
    margin-top: 0px;
    margin-bottom: @space - 4;
    h1 {
      text-align: left;
      display: inline-block;
    }
    .u-mob-filter-section {
      border: 1px solid #dbdbdb;
      .border-radius(4px);
      height: 40px;
      line-height: 38px;
      color: #999999;
      text-align: center;
      display: inline-block;
      padding: 0px @space - 4;
      margin-top: 5px;
      img,
      span {
        vertical-align: middle;
      }
      span {
        padding-left: @space - 4;
      }
    }
  }

  //get quote mobile responsive end

  //contact mobile responsive start
  .contact-box-wrapper {
    margin-top: -48px;
    h5 {
      display: none;
      color: #000;
    }
  }
  .contact-box {
    height: 350px;
    form {
      p {
        margin: 0px;
      }
    }
  }
  .cont-top-wrapper {
    height: 250px;
  }
  .contact-form-box {
    padding: 24px 20px 20px;
    margin-bottom: @space * 2;
  }
  //contact mobile responsive end

  //about mobile responsive start
  .ab-right-img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }
  .pw-about-list-img-sec {
    .circle(38px);
    line-height: 38px;
    img {
      max-height: 20px;
    }
  }
  .about-content-wrapper {
    p {
      font-size: 12px;
    }
  }
  //about mobile responsive end
} // @media - phone

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: @font-size - 1;
  }
  .container,
  .wrapper {
    padding-left: @space;
    padding-right: @space;
  }
  .btn {
    .button-size(8px; 16px; @font-size - 1; 1.3; 4px);
    .min-width(120px);
  }
  .btn-link {
    min-height: auto;
    min-width: auto;
    padding: 0px;
  }
  h1,
  .h1 {
    font-size: @font-size + 9;
  }
  h2,
  .h2 {
    font-size: @font-size + 7;
  }
  h3,
  .h3 {
    font-size: @font-size + 5;
  }
  h4,
  .h4 {
    font-size: @font-size + 3;
  }
  h5,
  .h5 {
    font-size: @font-size + 1;
  }
  h6,
  .h6 {
    font-size: @font-size - 1;
  }
  .fixed-wrapper {
    padding-left: @space;
    padding-right: @space;
  }
  //header tab responsive start

  .header-list {
    li {
      margin-right: @space;
    }
  }

  //header tab responsive end

  //footer tab responsive start
  .copy-text {
    margin-top: 76px;
  }
  //footer tab responsive end

  //common tab responsive start
  .main-content-wrapper {
    margin-bottom: @space * 4;
    margin-top: @space * 5;
  }
  .u-mob-large-heading {
    font-size: @font-size * 2;
  }
  .u-tab-col-padd-left-none {
    padding-left: 0px;
  }
  .u-tab-col-padd-right-none {
    padding-right: 0px;
  }
  .u-tab-col-padd-h-none {
    padding-left: 0px;
    padding-right: 0px;
  }

  //common tab responsive end

  //login tab responsive start
  .login-right-box {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  //login tab reponsive end

  //my pet tab responsive start
  .my-pet-col-bottom-btn-wrap {
    .btn,
    .my-pet-col-dropdown {
      margin-left: @space / 4;
    }
  }
  //my pet tab responsive end

  //my proposal tab responsive start
  .u-proposal-amt-col-wrap {
    padding-right: 0px;
  }
  .my-pet-col-ribbon-list {
    margin-bottom: 0px;
    .radio-button-label {
      margin-bottom: @space;
    }
  }
  .my-pet-col-plan-fee {
    margin-bottom: @space;
  }
  .get-quote-top-section {
    margin-top: 0px;
    margin-bottom: @space - 4;
    h1 {
      text-align: left;
      display: inline-block;
    }
    .u-mob-filter-section {
      border: 1px solid #dbdbdb;
      .border-radius(4px);
      height: 40px;
      line-height: 37px;
      color: #999999;
      text-align: center;
      display: inline-block;
      padding: 0px @space - 4;
      margin-top: 5px;
      img,
      span {
        vertical-align: middle;
      }
      span {
        padding-left: @space - 4;
      }
    }
  }
  .get-quote-top-col-wrapper {
    display: none;
  }
  .get-quote-features-bottom-note {
    padding-left: @space * 2;
    padding-right: @space * 2;
    text-align: center;
  }
  #u-mob-bottom-pay-button {
    display: none;
  }
  .my-proposal-tab-list {
  }
  //my proposal tab responsive end

  //index page tab responsive start
  .home-content-wrapper {
    margin-bottom: 0px;
  }
  .i-top-fold-carousel-box {
    left: 40px;
    bottom: -110px;
  }
  .slick-slide {
    height: 360px;
  }
  .slider-img {
    margin-top: -64px !important;
    width: 350px;
  }
  .i-bottom-pitch-box {
    margin: 0px @space / 4;
  }
  .i-step-left-section-box {
    margin-bottom: @space;
  }
  .i-testimonial-auth-img {
    left: 32px;
  }
  .i-testimonial-descrip {
    padding-left: 250px;
  }

  //index page tab responsive end

  //about page tab responsive start
  .ab-right-img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }
  //about page tab responsive end
} // @media - tab

@media only screen and (max-device-width: 992px) and (orientation: landscape) {
  .i-bottom-pitch-fold-left {
    display: flex;
    align-items: center;
  }
  .u-mob-bottom-left-box {
    width: 75%;
  }
  .u-mob-bottom-right-box {
    width: 25%;
  }
  .slick-slide {
    height: 350px;
  }
  .slider-img {
    margin-top: -28px;
  }
  .slider-row {
    justify-content: flex-end;
  }
  .u-mb-slider-right-col {
    width: 50%;
  }
  .i-top-fold-carousel-box {
    position: absolute;
    left: 32px;
    margin-left: 0;
    bottom: -120px;
  }
  .i-why-need-section {
    margin-top: 180px;
  }
} //landscape

@media (max-width: 1199px) and (min-width: 992px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: @grid-gutter / 2;
    padding-right: @grid-gutter / 2;
  }
  .main-header {
    margin-bottom: @space / 2;
  }
  h1,
  h2,
  h3 {
    margin-top: @space / 3;
    margin-bottom: @space / 3;
  }
  h4,
  h5,
  h6 {
    margin-top: @space / 4;
    margin-bottom: @space / 4;
  }
  .header-list {
    li {
      margin-right: @space + 2;
      &.active {
        &:after {
          top: -20px;
        }
      }
    }
  }
  .header-right-list {
    padding-left: 0px;
    li {
      margin-left: @space / 2 + 2;
    }
  }
  //my proposal medium screen responsive start
  .u-proposal-amt-col-wrap {
    padding-right: 0px;
  }
  .my-pet-col-ribbon-list {
    margin-bottom: 0px;
    .radio-button-label {
      margin-bottom: @space;
    }
  }
  .my-pet-col-plan-fee {
    margin-bottom: @space;
  }
  //my proposal medium screen responsive end
  .get-quote-top-btn-wrapper {
    .btn {
      width: 48%;
    }
  }
} // @media

@media (min-width: 1024px) and (max-width: 1199px) {
}

@media (max-width: 340px) and (min-width: 320px) {
  //my pet responsive start
  .my-pet-col-bottom-btn-wrap {
    .btn,
    .my-pet-col-dropdown {
      margin-left: 0px;
    }
  }
  //my pet responsive end
  .u-mob-quote-heading-inline {
    font-size: 30px;
  }
  .u-mob-filter-section {
    margin-top: 2px !important;
    span {
      padding-left: @space / 4 !important;
    }
  }
}

@media (max-width: 991px) and (min-width: 320px) {
  .u-mt-padd-h-none {
    padding-left: 0px;
    padding-right: 0px;
  }
  .my-proposal-tab-list {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }
  .mobile-menu {
    right: @space + 2;
  }
  #owl-carousel2 {
    .owl-nav {
      .owl-prev,
      .owl-next {
        span {
          font-size: 32px;
        }
      }
      .owl-next {
        right: 0px;
      }
      .owl-prev {
        left: 0px;
      }
    }
  }
} //mob and tab responsive

@media (max-width: 650px) and (min-width: 375px) {
  .u-mb-slider-right-col {
    width: 100%;
  }
  .slider-img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .i-top-fold-carousel-box {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    margin-top: -42px;
  }
}
