{% extends "pawtectApp/base.html" %} {% block body_block %}
{% load crispy_forms_tags %}
<div class="main-content-wrapper">
  <div class="wrapper">
    <h1 class="login-right-section-heading text-center">
      Change Password
    </h1>
    <div class="login-change-pass-wrapper">
      <div class="login-change-pass-box clearfix mt-32">
        <form method="post">
        {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-md btn-primary pull-right" type="submit">Update</button>
        </form>
      </div>
      {% if wrong %}
      <span class="alert-section error-alert width-full mt-16" id="errorId">
        <span>Wrong Password</span>
      </span>
      {% endif %}
    </div>
  </div>
</div>



{% endblock %}
