
{% extends "pawtectApp/base.html" %} {% block body_block %}
<div class="login-container">
  <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs padd-h-none">
    <div class="login-left-section">
      <img
        src="/assets/img/login/login-left-section-bg-img/login_left_bg-img@3x.png"
        alt="login-left-section-bg"
        class="login-left-section-bg-img"
      />
    </div>
  </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="login-right-section">
        <div class="wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center relative">
                <h1 class="login-right-section-heading ">Forgot Password?</h1>
                <p class="login-right-forgt-pass-para">Enter your registered email address below. We will send you an email to reset password.</p>
              </div>
              <div class="login-change-pass-wrapper">
                  <div class="login-change-pass-box clearfix mt-32">
                      <form method="post" id="reset-form">
                      {% csrf_token %}
                        <label>Email</label>
                        <input type="email" name="email" oninput="getInput(this)" value="" placeholder="example@example.com">
                        <button class="btn btn-md btn-primary pull-right" id="updateId">Send</button>
                      </form>
                    </div>
                    <div class="text-center mt-8">
                        <button class="btn btn-link forgot-pass-link"><a href="{% url 'user_login' %}" class="brand-color">Login here</a></button>
                    </div>
                    {% if msg %}
                    <span class="alert-section error-alert width-full mt-16" id="errorId">
                      <span>Email does not match</span>
                    </span>
                    {% endif %}
              </div>
              
        </div>
       
      </div>
    </div>
  </div>
</div>

<script>
  var inputData = document.getElementById("updateId")
  inputData.disabled = true
  let inputValue = inputData.value
  if(inputValue.length > 0){
    inputData.disabled = false
  }

  function getInput(emailValue){
      console.log("INSIDE FUNCTION IS HERE",emailValue.value)
      inputValue = emailValue.value
      if(inputValue.length > 0){
    inputData.disabled = false
  }else{
          inputData.disabled = true
      }
  }
</script>
{% endblock %}







