<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pawtect</title>
    <link
      rel="icon"
      type="image/png"
      href="https://img.icons8.com/ios/100/000000/cat-footprint.png"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"
      rel="Stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.0.1/css/countrySelect.min.css"
      rel="Stylesheet"
    />
    <!-- Owl Stylesheets -->
    <link
      rel="stylesheet"
      href="/assets/style/vendor/owl-carousel/owl.carousel.min.css"
    />

    <!-- common style -->
    <link rel="stylesheet" href="/assets/style/pawtect/css/style.css" />
  </head>
  <body>
  {% if not user.is_active %}
    <header>
      <div class="wrapper">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padd-left-none d-flex align-center">
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 padd-h-none">
            <a href="{% url 'index' %}">
              <img
                src="/assets/img/brand/main-logo.png"
                alt="main-logo"
                class="main-logo"
              />
            </a>
          </div>
          <div class="col-lg-10 col-md-8 col-sm-8 hidden-xs">
            <ul class="header-list">
              <li class="{% if request.resolver_match.url_name == "index" %}active{% endif %}"><a href="{% url 'index' %}">Home</a></li>
              <li class="{% if request.resolver_match.url_name == "plans" %}active{% endif %}"><a href="{% url 'plans' %}">Plans</a></li>
              <li class="{% if request.resolver_match.url_name == "quotation" %}active{% endif %}"><a href="{% url 'quotation' %}">Get Quote</a></li>
              <li class="{% if request.resolver_match.url_name == "review" %}active{% endif %}"><a href="{% url 'review' %}">Review</a></li>
              <li class="{% if request.resolver_match.url_name == "aboutUs" %}active{% endif %}"><a href="{% url 'aboutUs' %}">About us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs padd-right-none">
          <ul class="header-right-list pull-right">
            <li class="header-right-list-icons">
              <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
            </li>
            <li class="header-right-list-icons mail-icon">
              <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="{% url 'login' %}">
                <button class="btn ghost-btn-grey">Login</button>
              </a>
            </li>
            <li>
              <a href="{% url 'register' %}">
                <button class="btn btn-primary">Sign up</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    {% endif %}
 {% if user.is_active %}
    <header>
      <div class="wrapper">
        <div
          class="col-lg-4 col-md-2 col-sm-2 col-xs-2 padd-h-none d-flex align-center"
        >
          <a href="{% url 'index' %}">
            <img
              src="/assets/img/brand/Pawtect-Logo.jpg"
              alt="main-logo"
              class="main-logo"
            />
          </a>
          {% comment %} <div class="header-search-inp-wrap relative inline-block ml-20">
            <img
              src="/assets/img/common-icons/searching-magnifying-glass.svg"
              class="search-icon absolute left-center ml-12"
            />
            <input
              type="text"
              placeholder="Search anything..."
              class="margin-bottom-none"
            />
          </div> {% endcomment %}
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs padd-right-none">
          <ul class="header-list nav pull-right">
            <li>
              <span class="header-vetcoin-tag">40 Vetcoins Available</span>
            </li>
            <li><a href="{% url 'my_proposal' %}">My Pawtect Proposals</a></li>
            <li class="active"><a href="{% url 'my-pets' %}">My Pets</a></li>
            <li class="button-dropdown relative">
              <a href="javascript:void(0)" class="dropdown-toggle">
                <img
                {% if user.is_authenticated %}src="{{user.userprofile.avatar}}" {% else %} src="/assets/img/common-images/avatar.png"{% endif %} 
                  src="/assets/img/common-icons/avatar.svg"
                  class="header-profile-pic mr-4"
                />
                <img
                  src="/assets/img/common-icons/show-more-button-with-three-dots.svg"
                />
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'user_profile' %}">
                    My Profile
                  </a>
                </li>
                <li>
                  <a href="{% url 'my_vetcoins' %}">
                    My Vetcoins Statement
                  </a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">
                    Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header> 
 {% endif %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      jQuery(document).ready(function(e) {
        function t(t) {
          e(t).bind("click", function(t) {
            t.preventDefault();
            e(this)
              .parent()
              .fadeOut();
          });
        }
        e(".dropdown-toggle").click(function() {
          var t = e(this)
            .parents(".button-dropdown")
            .children(".dropdown-menu")
            .is(":hidden");
          e(".button-dropdown .dropdown-menu").hide();
          e(".button-dropdown .dropdown-toggle").removeClass("active");
          if (t) {
            e(this)
              .parents(".button-dropdown")
              .children(".dropdown-menu")
              .toggle()
              .parents(".button-dropdown")
              .children(".dropdown-toggle")
              .addClass("active");
          }
        });
        e(document).bind("click", function(t) {
          var n = e(t.target);
          if (!n.parents().hasClass("button-dropdown"))
            e(".button-dropdown .dropdown-menu").hide();
        });
        e(document).bind("click", function(t) {
          var n = e(t.target);
          if (!n.parents().hasClass("button-dropdown"))
            e(".button-dropdown .dropdown-toggle").removeClass("active");
        });
      });
    </script>
    {% block body_block %} {% endblock %}
  </body>
</html>
