{% extends "pawtectApp/base.html" %} {% block body_block %}
<div class="main-content-wrapper">
  <div class="cont-top-wrapper relative">
    <h1>Contact Us</h1>
    <div class="overlay"></div>
    <img
      src="https://www.aspca.org/sites/default/files/general-pet-care_facebook.jpg"
      alt="top-bg-img"
      class="i-top-fold-bg-img"
    />
  </div>
  <div>
    <div class="contact-box-wrapper clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h5 class="text-center">Locate us on map</h5>
        <div class="contact-box">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="100%"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=VETINA%20Healthcare%20LLP%2C%20New%20Airport%20Road%2C%20Mhada%20Colony%2C%20Viman%20Nagar%2C%20Pune%2C%20Maharashtra&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe
              ><a
                href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"
                >embedgooglemap.net websites templates</a
              >
            </div>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 100%;
              }
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 100%;
              }
            </style>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h5 class="text-center">Contact form</h5>

        <div class="contact-box contact-form-box relative">
          {% if messages %} {% for message in messages %}
          <span class="contact-success-msg">{{ message }}</span>
          {% endfor %} {% endif %}
          <form method="post" action={% url 'contact'%}>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <div class="text-center">
                <button class="btn btn-small btn-primary" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
