{% extends "pawtectApp/base.html" %} {% block body_block %}

<div class="main-content-wrapper mb-48">
  <div class="wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <h1>My Pets</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <a href="{% url 'my_pets_new' %}"><button class="btn btn-primary btn-md pull-right">Add New Pet</button></a>
    </div>

    <div class="clearfix"></div>

    <div class="my-pet-col-wrapper">
    {% for pet in pets %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-h-none">
        <div class="my-pet-cols clearfix relative mr-8 mb-48">
          <div class="my-pet-col-pet-pro-wrap absolute top left-right ml-16">
            <img
              src="{{pet.picture}}"
              class="absolute left-center my-pet-col-pet-pro-img" />
            <div class="my-pet-col-pet-pro-details inline-block ml-32 pl-32 ">
              <span class="">{{pet.name}}</span>
                  
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
            <ul class="my-pet-col-list padd-left-none">
              <li>
                <span>Species</span>
                <p>{{pet.species}}</p>
              </li>
              <li>
                <span>Microchip No</span>
                <p>{{pet.microchip_Number}}</p>
              </li>
              <li>
                <span>Consulting Veterinarian</span>
                <p>{{pet.consult_Name}}</p>
              </li>
              <li>
                <span>Contact Number</span>
                <p>{{pet.consult_mobileNumber}}</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
            <ul class="my-pet-col-list padd-left-none">
              <li>
                <span>Breed Name</span>
                <p>{{pet.breed}}</p>
              </li>
              <li>
                <span>Gender</span>
                <p>{{pet.gender}}</p>
              </li>
              <li>
                <span>Clinic Name</span>
                <p>{{pet.consult_Address}}</p>
              </li>
              <li>
                <span>Email Id</span>
                <p>{{pet.consult_Email}}</p>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
            <div class="pull-right mt-8">
              <a href="{% url 'my-pets-edit' pet.id%}"><button class="btn btn-md ghost-btn-orange ml-8">Edit Pet</button>
             <a href="{% url 'quotation' %}"> <button class="btn btn-md btn-primary ml-8">Get Quote</button></a>
              <div
                class="button-dropdown my-pet-col-dropdown relative inline-block ml-8">
              
                <a href="javascript:void(0)" class="dropdown-toggle">
                  <span class="dropdown-menu-icon text-center">
                    <img
                      src="/assets/img/common-icons/show-more-button-with-three-dots (1).svg"
                    />
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      Report Lost
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      For Adoption
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
      {% comment %} <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-h-none">
        <div class="my-pet-cols clearfix relative ml-8 mb-16">
          <div class="my-pet-col-pet-pro-wrap absolute top left-right ml-16">
            <img
              src="/assets/img/my-pet/bruno-images/bruno.png"
              class="absolute left-center"
            />
            <span class="ml-32 pl-32">Bruno</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
            <ul class="my-pet-col-list padd-left-none">
              <li>
                <span>Species</span>
                <p>Canine / Dog</p>
              </li>
              <li>
                <span>Microchip No</span>
                <p>2837492</p>
              </li>
              <li>
                <span>Consulting Veterinarian</span>
                <p>Dr. Hitesh S Swali</p>
              </li>
              <li>
                <span>Contact Number</span>
                <p>9821120058</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
            <ul class="my-pet-col-list padd-left-none">
              <li>
                <span>Breed Name</span>
                <p>German Shepherd</p>
              </li>
              <li>
                <span>Gender</span>
                <p>Male</p>
              </li>
              <li>
                <span>Clinic Name</span>
                <p>Hitesh Swali Pet Clinic</p>
              </li>
              <li>
                <span>Email Id</span>
                <p>swalivet@gmail.com</p>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
            <div class="pull-right mt-8">
              <button class="btn btn-md ghost-btn-orange ml-8">Edit Pet</button>
              <button class="btn btn-md btn-primary ml-8">Get Quote</button>
              <div
                class="button-dropdown my-pet-col-dropdown relative inline-block ml-8"
              >
                <a href="javascript:void(0)" class="dropdown-toggle">
                  <span class="dropdown-menu-icon text-center">
                    <img
                      src="/assets/img/common-icons/show-more-button-with-three-dots (1).svg"
                    />
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      Report Lost
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      For Adoption
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>

<footer class="footer2">
  <div class="wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <p class="copy-text2 margin-v-none">Copyright {% now "Y" %} © Vetina</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <ul class="footer-list2 pull-right">
        <li><a href="">Terms of Usage</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
