{% extends "pawtectApp/base.html" %} {% block body_block %}

<div class="main-content-wrapper">
  <h1 class="text-center">My Vetcoins Statement</h1>

  <table class="my-vetcoins-table mt-24 mb-48 clearfix">
    <tr>
      <th>Sr. No.</th>
      <th>Date</th>
      <th>Description</th>
      <th>Debit</th>
      <th>Credit</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Aug 21, 2019 12:30</td>
      <td class="my-vet-coin-description">
        000107-Redemption for Vet Fees by Pawtect agent Aarti Gujarati at mitra
        talokar
      </td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Aug 7, 2019 11:40</td>
      <td class="my-vet-coin-description">
        Referral reward points
      </td>
      <td>0</td>
      <td>50</td>
    </tr>
  </table>
</div>

{% endblock %}
