{% extends "pawtectApp/base.html" %} {% block body_block %}
<div class="main-content-wrapper">
  <ul class="breadcrumb-list text-center padd-left-none">
    <li class="light-list"><h2 class="h1 margin-v-none">My Pets</h2></li>
    {% if pet %}
    <li><h2 class="h1 margin-v-none">{{pet.name}}</h2></li>
    {% endif %}
  </ul>
  <div class="profile-form-wrapper relative mb-48 clearfix">
    <form class="clearfix" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="upload-profile-wrap text-center p-tb-20">
          <div class="relative">
            <img
             {% if pet %}src="{{pet.picture}}" {% else %} src="/assets/img/common-images/avatar.png"{% endif %} 
              class="upload-profile-img"
              id="image"
              />
          </div>
          <input
            type="file"
            name="picture"
            id="picture"
            class="img-upload-input"
          /><label for="picture" class="pt-4"
            ><img src="/assets/img/common-icons/camera.svg" /><span
              >Change Image</span
            ></label>
          
        </div>
        <!-- End of settings-general-image -->
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
         {% if messages %} {% for message in messages %}
          <span class="error-color mb-16">{{message}}</span>
          {% endfor %} {% endif %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input type="text" placeholder="Pet Name" id="name" name="name" class="input-small" value="{{pet.name}}"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="number"
          placeholder="Microchip number"
          class="input-small"
          id="microchipNumber"
          name="microchip_Number" value="{{pet.microchip_Number}}" />
        
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <div
          class="ui-widget width-full small-ui-widget inline-block pull-right relative"
        >
          <input
            id="species"
            placeholder="Species"
            class="input-small"
            name="species" value="{{pet.species}}"
           />
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <div
          class="ui-widget width-full small-ui-widget inline-block pull-right relative"
        >
          <input
            id="pet_profile_breed"
            placeholder="Breed"
            class="input-small"
            name="breed" value="{{pet.breed}}"
            />
          
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input
          type="text"
          id="date"
          name="birthDate"
          aria-required="true"
          placeholder="Enter Birthdate"
          class="input-small"
          value="{{pet.birthDate | date:"F j, Y"}}"
          required
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <div class="ui-widget relative">
          <select placeholder="Gender" name="gender" class="input-small margin-bottom-none" value="{{pet.gender}}">
            {% if not pet.gender %}<option selected="selected" disabled>Select Gender</option>{% endif %}
            {% if  pet.gender %}<option>Select Gender</option>{% endif %}
            <option value="male"  {% if pet.gender == 'male' %}selected {% endif %} >Male</option>
            <option value="female" {% if pet.gender == 'female' %}selected {% endif %}>Female</option>
          </select>
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input
          type="text"
          id="clinic_name"
          name="consult_Name"
          placeholder="Consulting vet / Clinic name"
          class="input-small"
          value="{{pet.consult_Name}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="email"
          id="clinic_email"
          name="consult_Email"
          placeholder="Consulting vet email"
          class="input-small"
          value="{{pet.consult_Email}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input
          type="text"
          id="clinic_mobileNumber"
          name="consult_mobileNumber"
          placeholder="Consulting mobile number"
          class="input-small"
          value="{{pet.consult_mobileNumber}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="text"
          id="clinic_address"
          name="consult_Address"
          placeholder="Consulting vet address"
          class="input-small"
          value="{{pet.consult_Address}}"
        />
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none mt-16">
        <div class="profile-bottom-btn-wrap pull-right">
          <button class="btn ghost-btn-light-gray btn-md"><a href="{{ request.META.HTTP_REFERER }}">Cancel</a></button>
          <button class="btn btn-primary btn-md ml-8" type="submit">Save</button>
        </div>
      </div>
      
    </form>
  </div>
</div>

<div class="clearfix"></div>

<footer class="footer2">
  <div class="wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <p class="copy-text2 margin-v-none">Copyright {% now "Y" %} © Vetina</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <ul class="footer-list2 pull-right">
        <li><a href="{% url 'terms' %}">Terms of Usage</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
<script>
  $(function() {
    var breedData = [];
    $.ajax({
      type: "GET",
      url: "/get-filter-quote-data/",
      success: function(data) {
       let breedItem = data.breed.breeds
        for(let i in breedItem){
          var item = breedItem[i]
          item.label = item.name
          breedData.push(item)
        }
      }
    });

    var species = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $("#species").autocomplete({
      source: species
    });

    setTimeout(() => {
      $("#pet_profile_breed").autocomplete({
        source: breedData
      });

    $("#date").datepicker({
      maxDate :'0',
      dateFormat: "MM d, yy"
      
    });
    
  },500)
    
  });
</script>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#image').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#picture").change(function() {
  readURL(this);
});

</script>
<script>
function goto(){
  window.history.go(-1)
}
</script>

{% endblock %}
