{% extends "pawtectApp/base.html" %} {% block body_block %}
<div class="main-content-wrapper plan-main-content-wrapper">
  <div class="plan-top-fold">
    <img
      src="/assets/img/plan/plan-top-fold/plan-top-fold.png"
      alt="plan-top-fold"
      class="plan-top-fold-img"
    />
    <div class="wrapper plan-top-col-wrapper">
      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd-left-none u-plan-top-fold-col-padd u-mt-padd-h-none "
      >
        <div class="plan-top-fold-col">
          <div class="plan-top-col-heading  text-center">
            <img
              src="/assets/img/get-quote/ribbons/red-aids.svg"
              alt="red-ribbon"
            />
            <h3 class="inline-block margin-v-none">Red Ribbon Plan</h3>
          </div>
          <div class="plan-top-col-content">
            <div class="plan-top-col-price relative text-center">
              <p class="margin-v-none">Annual Service charges starting</p>
              <h5 class="margin-bottom-none">Rs. 122/month</h5>
            </div>
            <p class="plan-top-col-list-heading mb-12">Covers the following:</p>
            <ul class="plan-top-col-list">
              <li>Major Illness</li>
              <li>Third Party Liability</li>
              <li>Major Soft Tissue Surgerie</li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12 u-plan-top-fold-col-padd u-mt-padd-h-none"
      >
        <div class="plan-top-fold-col">
          <div class="plan-top-col-heading  text-center">
            <img
              src="/assets/img/get-quote/ribbons/yellow-aids.svg"
              alt="red-ribbon"
            />
            <h3 class="inline-block margin-v-none">Yellow Ribbon Plan</h3>
          </div>
          <div class="plan-top-col-content">
            <div class="plan-top-col-price relative text-center">
              <p class="margin-v-none">Annual Service charges starting</p>
              <h5 class="margin-bottom-none">Rs. 233/month</h5>
            </div>
            <p class="plan-top-col-list-heading mb-12">Covers the following:</p>
            <ul class="plan-top-col-list">
              <li>Accidental Injury</li>
              <li>Third Party Liability</li>
              <li>Major Soft Tissue Surgerie</li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd-right-none u-plan-top-fold-col-padd u-mt-padd-h-none "
      >
        <div class="plan-top-fold-col">
          <div class="plan-top-col-heading  text-center">
            <img
              src="/assets/img/get-quote/ribbons/blue-aids.svg"
              alt="red-ribbon"
            />
            <h3 class="inline-block margin-v-none">Blue Ribbon Plan</h3>
          </div>
          <div class="plan-top-col-content">
            <div class="plan-top-col-price relative text-center">
              <p class="margin-v-none">Annual Service charges starting</p>
              <h5 class="margin-bottom-none">Rs. 303/month</h5>
            </div>
            <p class="plan-top-col-list-heading mb-12">Covers the following:</p>
            <ul class="plan-top-col-list">
              <li>Major Illness</li>
              <li>Accidental Injury</li>
              <li>Third Party Liability</li>
              <li>Major Soft Tissue Surgerie</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plan-about-pw-section">
    <div class="wrapper">
      <h1 class="plan-about-pw-heading text-center">
        Pawtect coversmuch more than hospitalisation
      </h1>
      <p>
        Pawtect covers the costs incurred for fee, Emergency care, surgeries,
        laboratory tests, diagnosis care,
        Hospitalization/boardingcharges,prescribed drugs and medications.
        Inclusions under each of these covers are as under:
      </p>
      <div class="plan-features-list">
        <div class="plan-features-list-col clearfix">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd-left-none">
            <h4 class="margin-top-none">Major Illness Cover:</h4>
          </div>
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-right-none u-mob-col-padd-h-none"
          >
            <p class="margin-v-none">
              Cancer and Tumor, Cardiovascular System, Haematological System,
              Respiratory Systems, Gastro-intestinal disorders,Urinary system
              disorders,Lymphoidsystems,Specialized therapy
            </p>
          </div>
        </div>

        <div class="plan-features-list-col clearfix">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd-left-none">
            <h4 class="margin-top-none">Accidental Injury Cover:</h4>
          </div>
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-right-none u-mob-col-padd-h-none"
          >
            <p class="margin-v-none">
              Unfortunate accidental bodily injury like fracture or broken bone
              due to hitting on wall, falling while running etc
            </p>
          </div>
        </div>

        <div class="plan-features-list-col clearfix">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd-left-none">
            <h4 class="margin-top-none">Third Party Liability Cover:</h4>
          </div>
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-right-none u-mob-col-padd-h-none"
          >
            <p class="margin-v-none">
              In case of any bodily injury and/or property damage to any third
              party due to your Pet’s action during the Plan Period, we will
              cover you up to the plan limit mentioned in your Plan Summary
            </p>
          </div>
        </div>

        <div class="plan-features-list-col clearfix">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd-left-none">
            <h4 class="margin-top-none">Major Soft Tissue Surgeries Cover:</h4>
          </div>
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-right-none u-mob-col-padd-h-none"
          >
            <p class="margin-v-none">
              Gastrictorsion,Intussusception, Splenic torsion, Megacolon,
              Pyloric stenosis, Malignant gastric / intestinal tumours, 4th/5th
              rib removal / Pericardial drainage, Diaphragmatic hernia, kidney /
              urinary bladder / urethra / ureter under general Anaesthesia,
              Aural haematoma, Surgical intervention on Eye.
            </p>
          </div>
        </div>
      </div>
      <p class="plan-features-bottom-none">
        Please note that Pre-existing conditions,vaccinations,deworming and
        routine check-up are not covered.
      </p>
    </div>
  </div>
  <div class="plan-service-charge-section clearfix">
    <div class="wrapper">
      <div class="section-heading">
        <h3 class="h1">Annual Service Charges</h3>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padd-left-none u-mt-padd-h-none"
      >
        <div class="plan-service-col-heading">
          <h4 class="margin-bottom-none">MIXED BREED</h4>
          <p class="mb-32">
            Breeds including: Hound Cross, Indian Mongrel, Indian Pariah Cross,
            Irish Setter cross, Rampur Hound, Terrier Cross, and all the cross
            breeds
          </p>
          <div class="plan-service-table-wrapper">
            <h5 class="plan-service-table-heading margin-v-none">
              Age: 8 weeks to 2 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 1,460</td>
                <td>₹ 2,793</td>
                <td>₹ 3,638</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 1,613</td>
                <td>₹ 3,102</td>
                <td>₹ 4,046</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 2,084</td>
                <td>₹ 4,055</td>
                <td>₹ 5,305</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 2,639</td>
                <td>₹ 5,176</td>
                <td>₹ 6,787</td>
              </tr>
            </table>

            <h5 class="plan-service-table-heading margin-v-none">
              Age: 2 yrs to 4 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 2,402</td>
                <td>₹ 3,060</td>
                <td>₹ 4,665</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 2,663</td>
                <td>₹ 3,399</td>
                <td>₹ 5,191</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 3,472</td>
                <td>₹ 4,447</td>
                <td>₹ 6,819</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 4,424</td>
                <td>₹ 5,681</td>
                <td>₹ 8,733</td>
              </tr>
            </table>

            <h5 class="plan-service-table-heading margin-v-none">
              Age: 4 yrs to 6 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 3,155</td>
                <td>₹ 3,326</td>
                <td>₹ 5,535</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 3,504</td>
                <td>₹ 3,696</td>
                <td>₹ 6,162</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 4,582</td>
                <td>₹ 4,840</td>
                <td>₹ 8,100</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 5,851</td>
                <td>₹ 6,186</td>
                <td>₹ 10,381</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padd-right-none u-mt-padd-h-none"
      >
        <div class="plan-service-col-heading">
          <h4 class="margin-bottom-none">LARGE BREED</h4>
          <p class="mb-32">
            Breeds including: Afghan Hound, Golden Retriever, Husky, Irish
            Setter, Labrador, Poodle, Puli,Spaniel Crocker, Swedish Lapphund,
            Terrier, etc.
          </p>
          <div class="plan-service-table-wrapper">
            <h5 class="plan-service-table-heading margin-v-none">
              Age: 8 weeks to 2 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 2,119</td>
                <td>₹ 4,125</td>
                <td>₹ 5,398</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 2,348</td>
                <td>₹ 4,588</td>
                <td>₹ 6,009</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 3,056</td>
                <td>₹ 6,018</td>
                <td>₹ 7,899</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 3,888</td>
                <td>₹ 7,700</td>
                <td>₹ 10,122</td>
              </tr>
            </table>

            <h5 class="plan-service-table-heading margin-v-none">
              Age: 2 yrs to 4 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 3,532</td>
                <td>₹ 4,525</td>
                <td>₹ 6,938</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 3,924</td>
                <td>₹ 5,033</td>
                <td>₹ 7,728</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 5,137</td>
                <td>₹ 6,606</td>
                <td>₹ 10,169</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 6,565</td>
                <td>₹ 8,457</td>
                <td>₹ 13,040</td>
              </tr>
            </table>

            <h5 class="plan-service-table-heading margin-v-none">
              Age: 4 yrs to 6 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 4,661</td>
                <td>₹ 4,924</td>
                <td>₹ 8,243</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 5,185</td>
                <td>₹ 5,479</td>
                <td>₹ 9,184</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 6,802</td>
                <td>₹ 7,195</td>
                <td>₹ 12,092</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 8,706</td>
                <td>₹ 9,214</td>
                <td>₹ 15,513</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padd-left-none u-mt-padd-h-none"
      >
        <div class="plan-service-col-heading">
          <h4 class="margin-bottom-none">SMALL/ MEDIUM BREED</h4>
          <p class="mb-32">
            Breeds including: Beagle, Chug, Dachshund, Lhasa Apso, Maltese,
            Pinscher, Pomeranian, Pug, Shiba, Shih Tzu, etc.
          </p>
          <div class="plan-service-table-wrapper margin-bottom-none">
            <h5 class="plan-service-table-heading margin-v-none">
              Age: 8 weeks to 2 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 1,724</td>
                <td>₹ 3,326</td>
                <td>₹ 4,342</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 1,907</td>
                <td>₹ 3,696</td>
                <td>₹ 4,831</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 2,473</td>
                <td>₹ 4,840</td>
                <td>₹ 6,343</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 3,139</td>
                <td>₹ 6,186</td>
                <td>₹ 8,121</td>
              </tr>
            </table>

            <h5 class="plan-service-table-heading margin-v-none">
              Age: 2 yrs to 4 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 2,854</td>
                <td>₹ 3,646</td>
                <td>₹ 5,574</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 3,168</td>
                <td>₹ 4,053</td>
                <td>₹ 6,206</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 4,138</td>
                <td>₹ 5,311</td>
                <td>₹ 8,159</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 5,280</td>
                <td>₹ 6,791</td>
                <td>₹ 10,456</td>
              </tr>
            </table>

            <h5 class="plan-service-table-heading margin-v-none">
              Age: 4 yrs to 6 yrs
            </h5>
            <table class="plan-service-table">
              <tr>
                <th class="plan-service-table-col-1">Coverage Amt.</th>
                <th>Red</th>
                <th>Yellow</th>
                <th>Blue</th>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 40,000</td>
                <td>₹ 3,757</td>
                <td>₹ 3,965</td>
                <td>₹ 6,618</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 60,000</td>
                <td>₹ 4,176</td>
                <td>₹ 4,409</td>
                <td>₹ 7,371</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,00,000</td>
                <td>₹ 5,470</td>
                <td>₹ 5,782</td>
                <td>₹ 9,697</td>
              </tr>
              <tr>
                <td class="plan-service-table-col-1">₹ 1,50,000</td>
                <td>₹ 6,993</td>
                <td>₹ 7,397</td>
                <td>₹ 12,434</td>
              </tr>
            </table>
          </div>
          <p class="mb-32">
            Service Charges inclusive of applicable GST.
            <b>Renewal up to 10th birthday.</b>
          </p>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padd-right-none u-mt-padd-h-none"
      >
        <div class="plan-service-col-heading">
          <h4 class="margin-bottom-none">GIANT BREED</h4>
          <p class="mb-32">
            Breeds including: Boxer, Bull Dog, Dalmatian, German Shephard, Great
            Dane, Pitbull, Pointer, Rottweiler, Saint Bernard, Shephard Dog etc.
          </p>
        </div>
        <div class="plan-service-table-wrapper margin-bottom-none">
          <h5 class="plan-service-table-heading margin-v-none">
            Age: 8 weeks to 2 yrs
          </h5>
          <table class="plan-service-table">
            <tr>
              <th class="plan-service-table-col-1">Coverage Amt.</th>
              <th>Red</th>
              <th>Yellow</th>
              <th>Blue</th>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 40,000</td>
              <td>₹ 3,108</td>
              <td>₹ 6,123</td>
              <td>₹ 8,038</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 60,000</td>
              <td>₹ 3,451</td>
              <td>₹ 6,817</td>
              <td>₹ 8,955</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 1,00,000</td>
              <td>₹ 4,513</td>
              <td>₹ 8,961</td>
              <td>₹ 11,789</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 1,50,000</td>
              <td>₹ 5,762</td>
              <td>₹ 11,485</td>
              <td>₹ 15,124</td>
            </tr>
          </table>

          <h5 class="plan-service-table-heading margin-v-none">
            Age: 2 yrs to 4 yrs
          </h5>
          <table class="plan-service-table">
            <tr>
              <th class="plan-service-table-col-1">Coverage Amt.</th>
              <th>Red</th>
              <th>Yellow</th>
              <th>Blue</th>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 40,000</td>
              <td>₹ 5,226</td>
              <td>₹ 6,722</td>
              <td>₹ 10,348</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 60,000</td>
              <td>₹ 5,815</td>
              <td>₹ 7,485</td>
              <td>₹ 11,533</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 1,00,000</td>
              <td>₹ 7,635</td>
              <td>₹ 9,845</td>
              <td>₹ 15,194</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 1,50,000</td>
              <td>₹ 9,776</td>
              <td>₹ 12,620</td>
              <td>₹ 19,502</td>
            </tr>
          </table>

          <h5 class="plan-service-table-heading margin-v-none">
            Age: 4 yrs to 6 yrs
          </h5>
          <table class="plan-service-table">
            <tr>
              <th class="plan-service-table-col-1">Coverage Amt.</th>
              <th>Red</th>
              <th>Yellow</th>
              <th>Blue</th>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 40,000</td>
              <td>₹ 6,921</td>
              <td>₹ 7,321</td>
              <td>₹ 12,306</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 60,000</td>
              <td>₹ 7,706</td>
              <td>₹ 8,154</td>
              <td>₹ 13,717</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 1,00,000</td>
              <td>₹ 10,133</td>
              <td>₹ 10,728</td>
              <td>₹ 18,079</td>
            </tr>
            <tr>
              <td class="plan-service-table-col-1">₹ 1,50,000</td>
              <td>₹ 12,988</td>
              <td>₹ 13,756</td>
              <td>₹ 23,210</td>
            </tr>
          </table>
        </div>
        <p class="mb-32">
          Service Charges inclusive of applicable GST.
          <b>Renewal up to 10th birthday.</b>
        </p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padd-left-none">
      <a href="{% url 'home' %}">
        <img src="/assets/img/brand/logo_white.png" class="main-logo" />
      </a>
      <p class="copy-text hidden-xs">&copy;2019 Ventina HealthcareLLP</p>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 u-mob-col-padd-h-none">
      <h6 class="footer-heading">Company</h6>
      <ul class="footer-list padd-left-none">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'plans' %}">Plans</a></li>
        <li><a href="{% url 'quotation' %}">Get Quote</a></li>
        <li><a href="{% url 'aboutUs' %}">About Us</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 u-mob-col-padd-h-none">
      <ul class="footer-list u-footer-list-margin-top  padd-left-none">
        <li><a href="{% url 'terms' %}">Terms of Usage</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 u-mob-col-padd-h-none">
      <h6 class="footer-heading">Follow Us</h6>
      <ul class="footer-list padd-left-none">
        <li>
          <a
            ><i class="fa fa-facebook-square" aria-hidden="true"></i
            ><span>Facebook</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-twitter-square" aria-hidden="true"></i
            ><span>Twitter</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-instagram" aria-hidden="true"></i
            ><span>Instagram</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
            ><span>Linkedin</span></a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padd-h-none">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="100%"
            height="100%"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=VETINA%20Healthcare%20LLP%2C%20New%20Airport%20Road%2C%20Mhada%20Colony%2C%20Viman%20Nagar%2C%20Pune%2C%20Maharashtra&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a
            href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"
          ></a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
          }
        </style>
      </div>
    </div>
    <div class="col-xs-12 visible-xs u-mob-col-padd-h-none">
      <p class="copy-text mt-32">&copy;2019 Ventina HealthcareLLP</p>
    </div>
  </div>
</footer>
{% endblock %}
