{% extends "pawtectApp/base.html" %} {% block body_block %}

<div class="main-content-wrapper mb-48">
  <div class="wrapper">
    <h2>Privacy Policy</h2>
    <div class="pt-privacy-wrapper mt-32">
      <h5>How We Collect and Use Information</h5>
      <p>We collect the following types of information about you:</p>
      <h6>Information you provide us directly:</h6>
      <p>
        We may ask for certain information such as your username, real name,
        birthdate, address, phone number and e-mail address when you register
        for an account, or if you correspond with us. We may also retain any
        messages you send through the Service, and may collect information you
        provide in User Content you post to the Service. We use this information
        to operate, maintain, and provide to you the features and functionality
        of the Service.
      </p>
      <p>
        We may ask for certain information such as your username, real name,
        birthdate, address, phone number and e-mail address when you register
        for an account, or if you correspond with us. We may also retain any
        messages you send through the Service, and may collect information you
        provide in User Content you post to the Service. We use this information
        to operate, maintain, and provide to you the features and functionality
        of the Service.
      </p>
      <h6>Information we may receive from third parties:</h6>
      <p>
        We may receive information about you from third parties. For example, if
        you access our websites or Service through a third-party connection or
        log-in, for example, through Facebook Connect, by “following,” “liking,”
        adding the Service, etc., that third party may pass certain information
        about your use of its service to us. This information could include, but
        is not limited to, the user ID associated with your account (for
        example, your Facebook UID), an access token necessary to access that
        service, any information that you have permitted the third party to
        share with us, and any information you have made public in connection
        with that service.
      </p>
      <h6>Analytics information:</h6>
      <p>
        We may directly collect analytics data, or use third-party analytics
        tools and services, to help us measure traffic and usage trends for the
        Service. These tools collect information sent by your browser or mobile
        device, including the pages you visit and other information that assists
        us in improving the Service. We collect and use this analytics
        information in aggregate form such that it cannot reasonably be
        manipulated to identify any particular individual user.
      </p>
      <h6>Cookies information:</h6>
      <p>
        When you visit the Service, we may send one or more cookies — a small
        text file containing a string of alphanumeric characters — to your
        computer that uniquely identifies your browser and lets us help you log
        in faster and enhance your navigation through the site. A cookie may
        also convey information to us about how you use the Service (e.g., the
        pages you view, the links you click and other actions you take on the
        Service), and allow us or our business partners to track your usage of
        the Service over time.
      </p>
      <h6>Log file information:</h6>
      <p>
        Log file information is automatically reported by your browser or mobile
        device each time you access the Service. When you use our Service, our
        servers automatically record certain log file information.
      </p>
      <h6>Device identifiers:</h6>
      <p>
        When you access the Service by or through a mobile device (including but
        not limited to smart-phones or tablets), we may access, collect, monitor
        and/or remotely store one or more “device identifiers,” such as a
        universally unique identifier (“UUID”). Device identifiers are small
        data files or similar data structures stored on or associated with your
        mobile device, which uniquely identify your mobile device.
      </p>
      <h6>Location data:</h6>
      <p>
        When you access the Service by or through a mobile device, we may
        access, collect, monitor and/or remotely store “location data,” which
        may include GPS coordinates (e.g. latitude and/or longitude) or similar
        information regarding the location of your mobile device.
      </p>
      <h6>Commercial and marketing communications:</h6>
      <p>
        We use the information we collect or receive, such as your email
        address, to communicate directly with you. We may send you emails
        containing newsletters, promotions, and special offers. If you do not
        want to receive such email messages, you will be given the option to opt
        out or change your preferences. Sharing of Your Information We will not
        rent or sell your information into third parties outside of our company
        and its group companies (including any parent, subsidiaries and
        affiliates) without your consent, except as noted below:
      </p>
      <ul class="pt-privacy-que-list">
        <li>
          <h6>Who we may share your information with:</h6>
          <p>
            We may share your information with third-party business partners and
            Trusted Users for the purpose of providing the Service to you. Who
            can see your IP address: A selection of Trusted Users with
            administrative powers on our Service have the ability to review IP
            addresses of users to reduce abusive behavior. Any third party
            service embedded on our site such as an advertiser, video provider,
            social network or other third party will also have access to your IP
            address.
          </p>
        </li>
        <li>
          <h6>Who can see your email address:</h6>
          <p>
            If you enter an email address, you will enable communication from
            our Service.
          </p>
        </li>
        <li>
          <h6>What happens in the event of a change of control:</h6>
          <p>
            We may buy or sell/divest/transfer the company (including any shares
            in the company), or any combination of its products, services,
            assets and/or businesses. Your information such as customer names
            and email addresses, User Content and other user information related
            to the Service may be among the items sold or otherwise transferred
            in these types of transactions.
          </p>
        </li>
      </ul>
      <h6>Advertisements:</h6>
      <p>
        We may also share certain information such as your location, browser,
        and cookie data and other data relating to your use of our Service with
        our business partners to deliver advertisements (“ads”) that may be of
        interest to you. We may allow third-party ad servers or ad networks to
        serve advertisements on the Service. Our Privacy Policy does not apply
        to, and we cannot control the activities of third-parties. Please
        consult the respective privacy policies of such third parties or contact
        such third parties for more information. How We Store and Protect Your
        Information
      </p>
      <h6>Storage and Processing:</h6>
      <p>
        Your information collected through the Service may be stored and
        processed in the United States or any other country in which we or our
        subsidiaries, affiliates, or service providers maintain facilities. We
        may transfer information that we collect about you, including personal
        information, to affiliated entities, or to other third parties across
        borders and from your country or jurisdiction to other countries or
        jurisdictions around the world.
      </p>
      <h6>Keeping your information safe:</h6>
      <p>
        We care about the security of your information, and uses commercially
        reasonable safeguards to preserve the integrity and security of all
        information collected through the Service. To protect your privacy and
        security, we take reasonable steps to verify your identity before
        granting you access to your account.
      </p>
      <h6>Compromise of information:</h6>
      <p>
        In the event that any information under our control is compromised as a
        result of a breach of security, we will take reasonable steps to
        investigate the situation and where appropriate, notify those
        individuals whose information may have been compromised and take other
        steps, in accordance with any applicable laws and regulations. Your
        Choices about Your Information You can also stop receiving promotional
        email communications from us by modifying your preferences by contacting
        us at customerservice@pawtectindia.com.in . We make every effort to
        promptly process all unsubscribe requests. As noted above, you may not
        opt out of Service-related communications (e.g., account verification,
        purchase and billing confirmations and reminders, changes/updates to
        features of the Service, technical and security notices). If you have
        any questions about reviewing or modifying your account information, you
        can contact us directly at customerservice@pawtectindia.com.in .
      </p>
      <h6>How long we keep your private profile information:</h6>
      <p>
        Following termination of your User account, we may retain your private
        profile information for a commercially reasonable time for backup,
        archival, or audit purposes. For the avoidance of doubt, any information
        that you choose to make public on the service may not be removable. We
        are not responsible for the practices employed by websites or services
        linked to or from the Service, including the information or content
        contained therein. Please remember that when you use a link to go from
        the Service to another website, our Privacy Policy does not apply to
        third-party websites or services.
      </p>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padd-left-none">
      <a href="{% url 'home' %}">
        <img src="/assets/img/brand/logo_white.png" class="main-logo" />
      </a>
      <p class="copy-text hidden-xs">&copy;2019 Ventina HealthcareLLP</p>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <h6 class="footer-heading">Company</h6>
      <ul class="footer-list padd-left-none">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'plans' %}">Plans</a></li>
        <li><a href="{% url 'quotation' %}">Get Quote</a></li>
        <li><a href="{% url 'aboutUs' %}">About Us</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <ul class="footer-list u-footer-list-margin-top  padd-left-none">
        <li><a href="{% url 'terms' %}">Terms of Usage</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      <h6 class="footer-heading">Follow Us</h6>
      <ul class="footer-list padd-left-none">
        <li>
          <a
            ><i class="fa fa-facebook-square" aria-hidden="true"></i
            ><span>Facebook</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-twitter-square" aria-hidden="true"></i
            ><span>Twitter</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-instagram" aria-hidden="true"></i
            ><span>Instagram</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
            ><span>Linkedin</span></a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padd-h-none">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="100%"
            height="100%"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=VETINA%20Healthcare%20LLP%2C%20New%20Airport%20Road%2C%20Mhada%20Colony%2C%20Viman%20Nagar%2C%20Pune%2C%20Maharashtra&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a
            href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"
          ></a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
          }
        </style>
      </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <p class="copy-text mt-32">&copy;2019 Ventina HealthcareLLP</p>
    </div>
  </div>
</footer>
{% endblock %}
