{% extends "pawtectApp/base.html" %} {% block body_block %}

<div class="main-content-wrapper u-mob-margin-bottom-32 ">
  <div class="wrapper">
    <div class="get-quote-top-section">
      <h1 class="u-mob-quote-heading-inline u-mob-large-heading text-center margin-top-none">Get Quote</h1>
      <div class="u-mob-filter-section pull-right">
        <img src="/assets/img/get-quote/filter-icon.svg" />
        <span>View Filters</span>
      </div>
      <div class="u-mob-filter-slider visible-sm visible-xs">
        <div class="mobile-nav-slider">
          <div class="slider-backdrop absolute-center"></div>
          <div class="mobile-nav-slider-list">
            <h6 class="mobile-nav-slider-heading">Filters</h6>
            <button class="u-mob-filter-slider-close-btn btn btn-link absolute right top mt-16 mr-16"><img src="/assets/img/common-icons/close-button.svg"></button>
            <menu class="mobile-menu-list padd-left-none">
              <li>
                <div class="ui-widget inline-block pull-right relative width-full" id="select_dog_age">
                  <input class="tags" placeholder="Select dog's age" {% if age_Period %} value="{{age_Period}}"{% endif %} />
                  <img
                  src="/assets/img/common-icons/expand-button.svg"
                  class="dropdown-arrow" />
                
                </div>
              </li>
              <li>
                <div class="ui-widget inline-block pull-right relative width-full" id="select_dog_breed">
                  <input class="tags1" placeholder="Select dog's breed" {% if name %} value="{{name}}"{% endif %}/>
                  <img
                  src="/assets/img/common-icons/expand-button.svg"
                  class="dropdown-arrow"
                />
                </div>
              </li>
              <li>
                <div class="ui-widget inline-block pull-right relative width-full" id="select_cover_amt">
                  <input  class="tags2" placeholder="Select coverage amount" {% if coverage_amount %} value="{{coverage_amount}}"{% endif %} />
                  <img
                  src="/assets/img/common-icons/expand-button.svg"
                  class="dropdown-arrow"
                />
                </div>
              </li>
              <li>
                <button class="btn ghost-btn-light-gray ">Clear All</button>
                <button class="btn btn-primary pull-right searchId" id="searchId">Apply</button>    
              </li>
            </menu>
          </div>
        </div>
      </div>
      <div class="get-quote-top-col-wrapper clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-1 padd-h-none">
          <div class="get-quote-top-filter inline-block text-center ">
            <img src="/assets/img/get-quote/filter-icon.svg" />
          </div>
          <div class="ui-widget inline-block pull-right relative" id="select_dog_age">
            <input id="tags" class="tags" placeholder="Select dog's age" {% if age_Period %} value="{{age_Period}}"{% endif %} />
            <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow" />
          
          </div>

          <!-- End of c-dropdown -->
        </div>
        <div class="col-lg-4 col-md-3 col-sm-4">
          <div class="ui-widget inline-block pull-right relative width-full" id="select_dog_breed">
            <input id="tags1" class="tags1" placeholder="Select dog's breed" {% if name %} value="{{name}}"{% endif %}/>
            <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-1 padd-left-none ">
          <div class="ui-widget inline-block pull-right relative width-full" id="select_cover_amt">
            <input id="tags2" class="tags2" placeholder="Select coverage amount" {% if coverage_amount %} value="{{coverage_amount}}"{% endif %} />
            <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
          </div>
        </div>
        <div
          class="col-lg-2 col-md-3 col-sm-2 padd-h-none get-quote-top-btn-wrapper">
          <button class="btn btn-primary searchId" id="searchId">
            Apply
          </button>
          <a href="{% url 'quotation' %}"><button class="btn ghost-btn-light-gray pull-right">Clear All</button></a>
        </div>
      </div>
    </div>

    <div class="empty-screen-wrapper mb-64">
      <img src="/assets/img/common-images/empty-screen-images/get-quote-empty-img.png" class="empty-screen-img">
      <h2>Get a quote</h2>
      <p>Oops!This search is not available</p>
    </div>

    {% for key,value in types %} 
    {% if value.plans|length > 0%}
    <div class="get-quote-features-section">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
        <div class="get-quote-fea-ribbon text-center">
          <img src="{{value.type.icon}}" />
          <span>{{ value.type.name }}</span>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 visible-sm visible-xs padd-h-none">
        <div class="get-quote-fea-cols get-quote-fea-details">
          <h3>Features</h3>
          <ul class="get-quote-fea-cols-list padd-left-none">
          {% for key,value in value.type.features.items %}
            <li>
              {% if value %}
              <img src="/assets/img/get-quote/checkmark-icon.svg" />
              {% else %}
              <img src="/assets/img/get-quote/cross-icon.svg" />
              {% endif %}
              <span>{{ key }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padd-h-none">
        {% for plan in value.plans %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-h-none">
          <div class="get-quote-fea-cols">
            <p class="margin-top-none">Coverage Amount</p>
            <div class="get-quote-fea-cols-bottom">
              <h2 class="h1 margin-v-none inline-block">₹ {{ plan.coverage_amount }}</h2>
              <button class="btn btn-primary pull-right">₹ 1,460/year</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs padd-h-none">
        <div class="get-quote-fea-cols get-quote-fea-details">
          <h3>Features</h3>
          <ul class="get-quote-fea-cols-list padd-left-none">
          {% for key,value in value.type.features.items %}
            <li>
              {% if value %}
              <img src="/assets/img/get-quote/checkmark-icon.svg" />
              {% else %}
              <img src="/assets/img/get-quote/cross-icon.svg" />
              {% endif %}
              <span>{{ key }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
        <p class="margin-v-none get-quote-features-bottom-note">
          Note: 10% discount for buying plans for multiple pets
        </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- add class modal-open to modal to open the modal -->
<div id="get_quote_pet_det_modal" class="modal fade" role="dialog">
  <div class="modal-backdrop"></div>
  <div class="modal-dialog modal-small relative">
    <button class="btn modal-cancel-btn absolute top right" data-dismiss="modal">
      <img src="/assets/img/common-icons/close-button.svg" />
    </button>
    <div class="modal-content get_quote_modal_content clearfix">
      <div class="">
        <h2 class="mb-32 margin-top-none text-center">Pet Details</h2>
        <div class="ui-widget inline-block relative width-full">
          <input id="tags3" placeholder="Select pet's age" />
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
        <div class="ui-widget inline-block relative width-full">
          <input id="tags4" placeholder="Select pet's breed" />
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
        <div class="mt-16">
          <button class="btn btn-small padd-h-none grey-color">Skip</button>
          <button class="btn btn-primary btn-md pull-right">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padd-left-none">
      <a href="{% url 'home' %}">
        <img src="/assets/img/brand/logo_white.png" class="main-logo" />
      </a>
      <p class="copy-text hidden-xs">&copy;2019 Ventina HealthcareLLP</p>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <h6 class="footer-heading">Company</h6>
      <ul class="footer-list padd-left-none">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'plans' %}">Plans</a></li>
        <li><a href="{% url 'quotation' %}">Get Quote</a></li>
        <li><a href="{% url 'aboutUs' %}">About Us</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <ul class="footer-list u-footer-list-margin-top  padd-left-none">
        <li><a href="{% url 'terms' %}">Terms of Usage</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      <h6 class="footer-heading">Follow Us</h6>
      <ul class="footer-list padd-left-none">
        <li>
          <a
            ><i class="fa fa-facebook-square" aria-hidden="true"></i
            ><span>Facebook</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-twitter-square" aria-hidden="true"></i
            ><span>Twitter</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-instagram" aria-hidden="true"></i
            ><span>Instagram</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
            ><span>Linkedin</span></a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padd-h-none">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="100%"
            height="100%"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=VETINA%20Healthcare%20LLP%2C%20New%20Airport%20Road%2C%20Mhada%20Colony%2C%20Viman%20Nagar%2C%20Pune%2C%20Maharashtra&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a
            href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"
          ></a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
          }
        </style>
      </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <p class="copy-text mt-32">&copy;2019 Ventina HealthcareLLP</p>
    </div>
  </div>
</footer>

<script>

  $(function() {
    var breedData = [];
    var amountData = [];
    var agesGroup = [];
    var age_item ={}
    var breed_item = {}
    $.ajax({
      type: "GET",
      url: "/get-filter-quote-data/",
      success: function(data) {
        
        let breedItem = data.breed.breeds
        let amountItem = data.amounts
        
        for(let i in breedItem){
          var item = breedItem[i]
          item.label = item.name
          breedData.push(item)
        }

        for(let i in amountItem){
          var item = amountItem[i]
          item.label = item.amount
          amountData.push(item)
        }
       
        for (let age of data.ages) {
          age.label = age.age_range
          agesGroup.push(age);
        }

        $(".tags1").autocomplete({
        source: breedData,
        minLength:0,
        select:function(ui,item){
          breed_item = item.item
        }
      }).bind('focus', function() {     
        if(!$(this).val().trim())
              $(this).keydown();
      });

        $(".tags").autocomplete({
        source: agesGroup,
        minLength:0,
        select:function(ui,item){
          age_item = item.item
        }
      }).bind('focus', function() {     
        if(!$(this).val().trim())
              $(this).keydown();
      });
  
      $(".tags2").autocomplete({
        source: amountData, minLength:0
      }).bind('focus', function() {     
        if(!$(this).val().trim())
              $(this).keydown();
      });

      }
    });
 
    
    var query = "?pawtect-quote=1";
    $(".searchId").click((e) => {
       e.preventDefault()

      var url_string = location;
      var url = new URL(url_string);
      var breedCat = url.searchParams.get("category__icontains");
      var breedName = url.searchParams.get("name");
      var breedStart_age = url.searchParams.get("age__start_age__in");
      var breedStart_age_unit = url.searchParams.get("age__start_age_unit__in");
      var breedEnd_age = url.searchParams.get("age__end_age__in");
      var breedEnd_age_unit = url.searchParams.get("age__end_age_unit__in");
      var breedAge_range = url.searchParams.get("age");

    var age = $("#tags").val();
    var breed = $("#tags1").val();
    var amount = $("#tags2").val();
    
    console.log("INSIDE AGE BREED AMOUNT",age,breed,amount)
    
    if(breed_item.category == undefined){
      breed_item.category = breedCat ? breedCat : breed_item.category;
      breed_item.name = breedName ? breedName : breed_item.name;
      age_item.start_age = breedStart_age ? breedStart_age : age_item.start_age;
      age_item.start_age_unit = breedStart_age_unit ? breedStart_age_unit : age_item.start_age_unit;
      age_item.end_age = breedEnd_age ? breedEnd_age : age_item.end_age;
      age_item.end_age_unit = breedEnd_age_unit ? breedEnd_age_unit : age_item.end_age_unit;
      age_item.age_range = breedAge_range ? breedAge_range : age_item.age_range;
    }else{
      breed_item.category = breed_item.category ? breed_item.category : breedCat;
      breed_item.name = breed_item.name ;
      age_item.start_age = age_item.start_age ? age_item.start_age : breedStart_age;
      age_item.start_age_unit = age_item.start_age_unit ? age_item.start_age_unit : breedStart_age_unit;
      age_item.end_age = age_item.end_age ? age_item.end_age : breedEnd_age;
      age_item.end_age_unit = age_item.end_age_unit ? age_item.end_age_unit : breedEnd_age_unit;
      age_item.age_range = age_item.age_range ? age_item.age_range : breedAge_range;
    }
    
    if (age.length >= 1) {
      query += "&age__start_age__in="+age_item.start_age+"&age__start_age_unit__in="+age_item.start_age_unit+"&age__end_age__in="+age_item.end_age+"&age__end_age_unit__in="+age_item.end_age_unit+"&age="+age_item.age_range;
    }
    if (breed.length >= 1) {
      query += "&category__icontains="+breed_item.category+"&name="+breed_item.name;
    }
    if (amount.length >= 1) {
      query += "&coverage_amount__amount=" + amount;
    }

    location.href = "/quotation/" + query;
  });

  
  });
</script>

<script>
  $(document).ready(function(){
    $('.u-mob-filter-section').click(function(){
      $('.u-mob-filter-slider').addClass('open-slider');
    });
    $('.u-mob-filter-slider-close-btn').click(function(){
      $('.u-mob-filter-slider').removeClass('open-slider');
    })
    $('.slider-backdrop').click(function(){
      $('.u-mob-filter-slider').removeClass('open-slider');
    });
  });
</script>
{% endblock %}
