{% extends "pawtectApp/base.html" %} {% block body_block %}
<div class="login-container">
  <div class="col-lg-6 col-md-6 hidden-sm hidden-xs padd-h-none">
    <div class="login-left-section">
      <img
        src="/assets/img/login/login-left-section-bg-img/login_left_bg-img@3x.png"
        alt="login-left-section-bg"
        class="login-left-section-bg-img"
      />
    </div>
  </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="login-right-section">
      {% if not is_otpModal %}
        <div class="wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center relative">
                <h1 class="login-right-section-heading u-mob-large-heading">Sign Up</h1>
                <p class="login-right-section-para">Your dog's safety is your responsibility!</p>
              </div>
              <form method="post" action="{% url 'register' %}" class="relative">
              
              {% csrf_token %}
              <div class="login-right-box">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-right-6 u-mob-col-padd-h-none">
                  <input type="text" name="fname" placeholder="First Name *" autocomplete="fname" class="input-small" oninvalid="this.setCustomValidity('Please fill first name field.')"
                  onchange="this.setCustomValidity('')" required/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-left-6 u-mob-col-padd-h-none">
                  <input type="text" name="lname" placeholder="Last Name *" autocomplete="lname" class="input-small"
                 required oninvalid="this.setCustomValidity('Please fill last name field.')" onchange="this.setCustomValidity('')"/>
                </div>
                
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-right-6 u-mob-col-padd-h-none">
                  <input type="text" name="mobile" placeholder="Mobile Number *" class="input-small"  autocomplete="mobile" minlength="10" maxlength="13" onkeypress=" return isNumber(event)" required oninvalid="this.setCustomValidity('Please fill mobile number field which has minimum 10 digit required.')"
                  onchange="this.setCustomValidity('')" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-left-6 u-mob-col-padd-h-none">
                  <input type="email" name="email" placeholder="Email ID *" class="input-small" autocomplete="new-password" required oninvalid="this.setCustomValidity('Please fill email filed')" onchange="this.setCustomValidity('')"/>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-right-6 u-mob-col-padd-h-none">
                  <input type="text" name="zip-code" placeholder="Zip Code" class="input-small" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-left-6 u-mob-col-padd-h-none">
                  <input type="text" name="referral-code"  placeholder="Referral Code" class="input-small" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-right-6 u-mob-col-padd-h-none">
                  <input type="password" name="password" placeholder="Password *" class="input-small" autocomplete="new-password" required oninvalid="this.setCustomValidity('Please fill password field.')"
                  onchange="this.setCustomValidity('')"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 u-col-padd-left-6 u-mob-col-padd-h-none">
                  <input
                    type="password"
                    name="password2"
                    placeholder="Confirm Password *" class="input-small"  required oninvalid="this.setCustomValidity('Please fill confirm password field.')"
                    onchange="this.setCustomValidity('')"
                  />
                </div>
                <div class="clearfix"></div>
                {% if messages %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                  <span class="alert-section error-alert width-full" id="errorId">
                    {% for message in  messages%}
                    <span>{{message}}</span>
                    {% endfor %}
                  </span>
                </div>
                {% endif %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <button class="btn btn-md btn-primary login-bottom-btn" type="submit">Continue</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center m-tb-12">
                  <button class="btn btn-link forgot-pass-link">
                    <span>Have Account ?</span>
                    <a href="{% url 'login' %}" class="brand-color">Login</a>
                  </button>
                </div>
              </div>
              </form>
              
        </div>
        {% endif %}
      {% if is_otpModal %}
      <form method="post" action="{% url 'otp' %}">
      {% csrf_token %}
        <div class="wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <h1 class="login-right-section-heading">OTP</h1>
              <p class="login-right-section-para">An OTP has been sent to your mobile number</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="login-otp-wrapper">
                <input type="text" class="inputs" name="num1" maxlength="1" autofocus required>
                <input type="text" class="inputs" name="num2" maxlength="1" required>
                <input type="text" class="inputs" name="num3" maxlength="1" required>
                <input type="text" class="inputs" name="num4" maxlength="1" required>
                <input type="text" class="inputs" name="num5" maxlength="1" required>
                <input type="text" class="inputs" name="num6" maxlength="1" required>
                <input type="hidden" class="inputs" name="mobile" value={{mobileNumber}}>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <button class="btn btn-small btn-priamry-link">
                <img src="/assets/img/login/repeat-icon/repeat.png">
                <span>Resend OTP</span>
              </button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <button class="btn btn-md btn-primary login-bottom-btn" type="submit">Sign Up</button>
            </div>
        </div>
         </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/validation.js"></script>
<script>

$(".inputs").keyup(function () {
    if (this.value.length == this.maxLength) {
      var $next = $(this).next('.inputs');
      if ($next.length)
          $(this).next('.inputs').focus();
      else
          $(this).blur();
    }
});
</script>

{% endblock %}
