{% extends "pawtectApp/base.html" %} {% block body_block %}

<div class="main-content-wrapper">
  <div class="profile-form-wrapper mb-64 clearfix">
    <div class="text-center">
      <h1 class="margin-bottom-none">My Profile</h1>
      <p class="user-pro-ref-id mt-12">My Reference ID: 23y9238</p>
    </div>
    <form class="clearfix" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="upload-profile-wrap text-center p-tb-20">
          <div class="relative">
            <img
            {% if user %}src="{{user.avatar}}" {% else %} src="/assets/img/common-images/avatar.png"{% endif %}
              class="upload-profile-img"
              id="image"
            />
          </div>
          <input
            type="file"
            name="avatar"
            id="avatar"
            class="img-upload-input"
          /><label for="avatar" class="pt-4"
            ><img src="/assets/img/common-icons/camera.svg" /><span
              >Change Image</span
            ></label
          >
        </div>
        <!-- End of settings-general-image -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input
          type="text"
          placeholder="First Name"
          name="fname"
          id="fname"
          class="input-small"
          value="{{user.user.first_name}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="text"
          placeholder="Last Name"
          class="input-small"
          name="lname"
          id="lname"
          value="{{user.user.last_name}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input
          type="text"
          placeholder="Mobile Number"
          class="input-small"
          name="mobile"
          id="mobile"
          value="{{user.mobile}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="email"
          placeholder="Email"
          class="input-small"
          name="email"
          id="email"
          value="{{user.user.email}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <div class="ui-widget relative">
          <select placeholder="Gender" name="gender" id="gender" class="input-small margin-bottom-none" value="{{user.gender}}">
          {% if not user.gender %}<option selected="selected" disabled>Select Gender</option>{% endif %}
            {% if  user.gender %}<option>Select Gender</option>{% endif %}
            <option value="male" {% if user.gender == 'male' %}selected {% endif %}>Male</option>
            <option value="female" {% if user.gender == 'female' %}selected {% endif %}>Female</option>
          </select>
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="text"
          placeholder="Address"
          class="input-small"
          name="address1"
          id="address1"
          value="{{user.address1}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input type="text" placeholder="Area" class="input-small" name="area" id="area" value="{{user.area}}" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <input
          type="number"
          placeholder="Pincode"
          class="input-small"
          name="pincode"
          id="pincode"
          value="{{user.pincode}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none pr-6">
        <input
          type="text"
          placeholder="City"
          class="input-small"
          name="city"
          id="city"
          value="{{user.city}}"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none pl-6">
        <div class="ui-widget relative ">
          <input
            id="country"
            placeholder="Enter country"
            class="input-small"
            name="country" value="{{user.country}}"
            required/>
          
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
        <div
          class="ui-widget width-full small-ui-widget inline-block pull-right relative mb-8"
        >
          <input
            id="pet_user_type"
            placeholder="I am..."
            class="input-small"
            name="user_type"
          />
          
          <img
            src="/assets/img/common-icons/expand-button.svg"
            class="dropdown-arrow"
          />
        </div>
        <ul class="user-pro-owner-type padd-left-none" id="professionId">
        </ul>
        <input type="hidden" id="hideId" value="{{user.profession}}"/>
      
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none mt-32">
        <button class="btn btn-md text-left brand-color  padd-h-none ">
          Change Password?
        </button>
        <div class="profile-bottom-btn-wrap pull-right inline-block">
          <button class="btn ghost-btn-light-gray btn-md">Cancel</button>
          <button class="btn btn-primary btn-md ml-8" type="button" id="userProfileId">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="footer2">
  <div class="wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <p class="copy-text2 margin-v-none">Copyright {% now "Y" %} © Vetina</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-h-none">
      <ul class="footer-list2 pull-right">
        <li><a href="{% url 'terms' %}">Terms of Usage</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>

<script>
var professsionArray= []
window.onload = function(){
 let professionData = document.getElementById("hideId").value;
 let splitData = professionData.split(',')
 splitData.pop()
 professsionArray = splitData
 for(let p of splitData){
$('#professionId').append('<li><span>' + p + '</span><img onclick="removeFromDepartment(this)" src="/assets/img/common-icons/close-button-light.svg" /></label>')
 }
  
}
  $(function() {

    var countries = [];
    $.ajax({
      type: "GET",
      url: "/get-country-data",
      success: function(data) {
        countries = JSON.parse(data.country)
      }
    });

    var availableTags = [
      "Pet Owner",
      "Veterinary Doctor",
      "Pet Shop",
      "Groomers",
      "Pet Hostels / Pet Sitters",
      "Animal Behaviorist",
      "Dog Trainers",
      "Breeders",
      "Pet Diagnostic Center",
      "NGO",
      "Ambulance",
      "Kennel / Feline Clubs"
    ];
    $("#pet_user_type").autocomplete({
      source: availableTags
    });

    setTimeout(() => {
      $("#country").autocomplete({
        source: countries
      });
  },500)
  });
</script>

<script>
var imageUrl = ''
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#image').attr('src', e.target.result);
      imageUrl = e.target.result
    }
    
    let avatar = reader.readAsDataURL(input.files[0]);
    
  }
}

$("#avatar").change(function() {
  readURL(this);
});

var professions = new Array();
var timeOutFunc = setTimeout(()=>{
$(document).ready(function(){
  $('form').keydown(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        return false;
    }
});
  
    $('body').on("keyup",'#pet_user_type', function(event){
        if(event.which == 13){
          let profession = $("#pet_user_type").val()
          if(profession){
            $('#professionId').append('<li><span>' + profession + '</span><img onclick="removeFromDepartment(this)" src="/assets/img/common-icons/close-button-light.svg" /></label>')
            professions.push(profession)
            $("#hideId").val(function() {
               return this.value + profession+',';
             });
             $("#pet_user_type").val('')
          }
        }
    });
});
    clearTimeout(timeOutFunc)
},2000)

function removeFromDepartment(element){
const g = document.getElementById('professionId');
for (let i = 0, len = g.children.length; i < len; i++)
{
    g.children[i].onclick = function(){
      console.log("INDEX IS->>",i)
       g.removeChild(g.childNodes[i+1]);
    }
  }
}

$("#userProfileId").click((e)=>{
  e.preventDefault()
  let fileImage = $('#avatar').val()
  var filename = fileImage.replace(/^.*\\/, "");
  console.log("THE profession ARRAY IS-->>>",typeof filename)
  let dataToSend = {}
  dataToSend.fname = $('#fname').val()
  dataToSend.lname = $('#lname').val()
  dataToSend.email = $('#email').val()
  dataToSend.avatar = filename
  dataToSend.mobile = $('#mobile').val()
  dataToSend.gender = $('#gender').val()
  dataToSend.address1 = $('#address1').val()
  dataToSend.area = $('#area').val()
  dataToSend.city = $('#city').val()
  dataToSend.country = $('#country').val()
  dataToSend.pincode = $('#pincode').val()
  dataToSend.professionData = $('#hideId').val()
  let response = $.ajax({
    type: 'POST',
    url: '/user_profile/',
    data: dataToSend,
    });

    response.done(()=>{
      location.href="/account/my-pets/"
    })

    response.fail(()=>{
      alert("Error")
    })
    
})
</script>

{% endblock %}
